.c-portfolio-grid__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
}

.c-portfolio-grid__card {
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  margin-bottom: 5rem;
  @media (min-width: $breakpoint-medium) {
    width: 50%;
  }
}

.c-portfolio-grid__image {
  width: 100%;
  margin-bottom: 2rem;
}

.c-portfolio-grid__nav {
  margin-bottom: 40px;
}

.c-portfolio-grid__tag {
  border: 1px solid yellow;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  background-color: yellow;
}