h1,h2,h3,h4,h5 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 6rem;
  margin-bottom: 30px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 30px;
}

p {
  font-family: 'Nanum Myeongjo', serif;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
}

span {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
}
