.o-button {
  background-color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: 1px solid #c7c7c7;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  margin-right: 20px;
  // transition: 0.2s;
  &:hover, &--active {
    border: 1px solid black;
    cursor: pointer;
  }
}