.o-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  @media (min-width: $breakpoint-medium) {
    width: 80%;
  }
}

.o-container--main {
  margin: 4rem auto;
  @media (min-width: $breakpoint-small) {
    margin: 7rem auto;
  }
}

.o-container--section {
  margin-top: 30px;
}

.o-container--margin {
  margin-top: 6rem;
}

.o-container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}