.o-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.o-container--main {
  margin-top: 130px;
  margin-bottom: 60px;
}

.o-container--section {
  margin-top: 30px;
}

.o-container--margin {
  margin-top: 60px;
}