.o-grid {
  width: 100%;
  display: flex;
}

.o-grid__one {
  width: 100%;
  @media (min-width: $breakpoint-medium) {
    width: 70%;
  }
}

.o-grid__two {
  width: 100%;
  text-align: right;
  @media (min-width: $breakpoint-medium) {
    width: 30%;
  }
}