@import '_button.scss';
@import '_container.scss';
@import '_grid.scss';
@import '_paragraph.scss';

.o-spacer {
    display: none;
    height: 9rem;
    @media (min-width: $breakpoint-medium) {
      display: block;
    }
  }